.config
.config.old
.vscode/
config.h
dl.txt
qemu/
build/
userspace/alibc/init/*.o
userspace/alibc/init/*.a
userspace/alibc/build
userspace/testapp/build/
posix-uefi/
userspace/dash-0.5.12/
root/
meta
