[submodule "userspace/coreutils"]
	path = userspace/coreutils
	url = https://github.com/coreutils/coreutils.git
[submodule "userspace/dash"]
	path = userspace/dash
	url = https://git.kernel.org/pub/scm/utils/dash/dash.git
