.config
.config.old
.vscode/
config.h
core/asis.uefi
core/*.o
dl.txt
qemu/
userspace/alibc/*.o
build/
userspace/alibc/init/*.o
userspace/alibc/libac.a
userspace/alibc/libac.so
userspace/libpwd/*.o
userspace/alibc/init/crtstub.a
userspace/libpwd/libpwd.a
userspace/libpwd/libpwd.so
userspace/libdl/libdl.a
userspace/libdl/*.o
userspace/libdl/libdl.so
userspace/testapp/build/