choice HYPERVISOR
    prompt "Select hypervisor for run on"
    default LINUX
config LINUX
    bool "Linux as hypervisor"
config UEFI
    bool "UEFI as hypervisor"
endchoice



menu "Core"

choice ARCHITECTURE
    prompt "Select architecture"
    default X86_64
config X86_64
    bool "AMD64 architecture"
config OTHER_ARCH
    bool "Other architectures (not supported)"
endchoice

endmenu




menu "Drivers"

source "drv/hostfs/Kconfig"
source "drv/uefifs/Kconfig"
source "drv/tty/Kconfig"
source "drv/fbgop/Kconfig"
source "drv/loop/Kconfig"
source "drv/dummyblk/Kconfig"
source "drv/lintrap/Kconfig"

endmenu



menu "Userspace"
source "userspace/Kconfig"
endmenu

