config ALIBC
      bool "ASIS libc"
      default y
      help
        ASIS libc for core syscalls.

config LIBDL
      bool "ASIS elf loader library"
      default y
      help
        ASIS elf loader library.

config LIBPWD
      bool "ASIS passwd library"
      default y
      help
        ASIS passwd library for /etc/passwd /etc/group.

config ATHREADS
      bool "ASIS pthread library"
      default y
      help
        ASIS very simple library for pthreads.

config TESTAPP
      bool "ASIS own simple binaries"
      default y
      help
        ASIS own simple binaries.

config DASH
      bool "dash"
      default y
      help
        Dash shell.

config COREUTILS
      bool "coreutils"
      default y
      help
        Coreutils suite of programs.

config LIBFFI
      bool "libffi"
      default y
      help
        libffi library.

config EXPAT
      bool "expat"
      default y
      help
        expat package.

config ZLIB
      bool "zlib"
      default y
      help
        zlib package.

config XZUTILS
      bool "xz-utils"
      default y
      help
        xz-utils package.

config WAYLANDPROTOCOLS
      bool "wayland-protocols"
      default y
      help
        wayland-protocols package.

config WAYLAND
      bool "wayland"
      default y
      help
        wayland package.

config EUDEV
      bool "eudev"
      default y
      help
        eudev library.

config LIBINPUT
      bool "libinput"
      default y
      help
        libinput library.

